
 <div>
  <header>
    <div class="header-content">
      <img src="assets/img/usjr.png" alt="USJR Image">
      <div class="header-menu">
        <span (click)="navigateTo('student')">Student Entry</span>
        <span (click)="navigateTo('student-list')">View Student List</span>
        <span (click)="navigateTo('program-entry')">Program Entry</span>
        <span (click)="navigateTo('college-entry')">College Entry</span>
        <span (click)="navigateTo('program-listing')">View Program List</span>
        <span (click)="navigateTo('college-listing')">View College List</span>
        
      </div>
    </div>
  </header>
  </div>

  <div>
  <div class="slider">
    <img src="assets/img/usjrslide1.png" class="slide" id="slide1" alt="Slide 1">
  </div>
</div>

<div>
  <div id="socials">
    <h3>See What's Happening at</h3>
    <div class="usjr-social">
      <h2>USJR</h2>
      <span class="links">
        <a href="https://www.facebook.com/zecklowe" target="_blank"><img src="assets/img/fb.webp" alt=""></a>
        <a href="https://twitter.com/angelGranger" target="_blank"><img src="assets/img/twitter.webp" alt=""></a>
        <a href="https://www.youtube.com/@cedricerroloporto4205" target="_blank"><img src="assets/img/yt.webp" alt=""></a>
        <a href="https://www.instagram.com/zecklowe/" target="_blank"><img src="assets/img/aw.png" alt=""></a>
      </span>
    </div>
  </div>
  </div>
  
  
  

  <footer>
    <div class="footer-content">
      <div class="footer-div div1">
        <h4 style="color: #fec039; font-family: 'Lato', sans-serif;">OUR VISION</h4>
        <p>We envision the University of San Jose-Recoletos to be a premier Gospel and Community-oriented educational institution committed to lead in instruction, research, community engagement, and innovation in order to transform Josenians into proactive and compassionate leaders, creators of communion, and dynamic partners of society in the 21st Century.</p>
      </div>
      <div class="footer-div div2">
        <!--  -->
        <!-- <img src="assets/img/usjrlogo.png" alt="Image Placeholder">
        <p>University of San Jose - Recoletos<br>Year Founded 1947</p> -->
        <table>
          <tbody>
            <tr>
              <td><img src="assets/img/usjrlogo.png" alt="Image Placeholder"></td>
            </tr>
            <tr>
              <td> <p>University of San Jose - Recoletos<br>Year Founded 1947</p> </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer-div div3">
        <table id="table3">
          <tbody>
            <tr>
              <th><img src="assets/img/house.svg" alt="house"></th>
              <td>Magallanes Street, 6000, Cebu City, Philippines</td>
            </tr>
            <br>
            <tr>
              <th><img src="assets/img/envelope-at.svg" alt=""></th>
              <td>external@usjr.edu.ph</td>
            </tr>
            <br>
            <tr>
              <th><img src="assets/img/telephone.svg" alt=""></th>
              <td>(63-32) 253-7900</td>
            </tr>
            <br>
          </tbody>
        </table>
      </div>
    </div>
  </footer>
  