<!-- student-list.component.html -->

<div id="form-wrapper">
  <h2>Student List</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>College</th>
        <th>Program</th>
        <th>Year</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.studid }}</td>
        <td>{{ student.studlastname }}</td>
        <td>{{ student.studfirstname }}</td>
        <td>{{ student.studmidname.charAt(0) }}</td>
        <td>{{ getCollegeName(student.studcollid) }}</td>
        <td>{{ getProgramName(student.studprogid) }}</td>
        <td>{{ student.studyear }}</td>
        <td>
          <button (click)="editStudent(student)">Edit</button>
        </td>
        <td>
          <button (click)="confirmDelete(student.studid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="navigateToHome()">Go to Home</button>
</div>
